<h3>Get Data from Yahoo Finance</h3>

Python prvides a library ***yfinance***. With yfinance one can get stock price data for different time intervals.

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

import yfinance

raw_data = yfinance.download (tickers = "^GSPC", start = "1994-01-07", 
                              end = "2019-09-01", interval = "1d")

[*********************100%***********************]  1 of 1 completed

Now let's have a look at the data. We will check the first and the last five rows of the data by using the ***head()*** and ***tail()*** functions.

In [7]:
raw_data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1994-01-06,467.549988,469.000000,467.019989,467.119995,467.119995,365960000
1994-01-07,467.089996,470.260010,467.029999,469.899994,469.899994,324920000
1994-01-10,469.899994,475.269989,469.549988,475.269989,475.269989,319490000
1994-01-11,475.269989,475.279999,473.269989,474.130005,474.130005,305490000
1994-01-12,474.130005,475.059998,472.140015,474.170013,474.170013,310690000

In [8]:
raw_data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-08-26,2866.699951,2879.270020,2856.000000,2878.379883,2878.379883,2857600000
2019-08-27,2893.139893,2898.790039,2860.590088,2869.159912,2869.159912,3533630000
2019-08-28,2861.280029,2890.030029,2853.050049,2887.939941,2887.939941,3097420000
2019-08-29,2910.370117,2930.500000,2905.669922,2924.580078,2924.580078,3176190000
2019-08-30,2937.090088,2940.429932,2913.320068,2926.459961,2926.459961,3008450000

<h3>Extrcting relevant series</h3>

Now we extract the ***closing-prices*** of the series, because these are relevant for our analysis.

In [9]:
# Create a new dataframe with one column "spx"
data = pd.DataFrame(columns = ["spx"])
# Copy closing prices of S&P 500 to this new column
data["spx"] = raw_data["Close"]
# Ensure that the dates are ordered in business week fashion (5 days a week)
data = data.asfreq("b")

<h3>Handling missing values</h3>

It's very important to check if there are any missing values in the dataset. The way these missing values are filled can have a huge impact on the trend.

In [10]:
print("Null values - ", data.spx.isnull().sum())

print("\nStatistical Description of the series - ")
print(data.describe())

data.spx = data.spx.fillna(method='ffill')
print("\nNull values - ", data.spx.isnull().sum())

Null values -  233

Statistical Description of the series -
               spx
count  6459.000000
mean   1380.614234
std     595.236124
min     438.920013
25%    1023.675018
50%    1263.819946
75%    1562.484985
max    3025.860107

Null values -  0